.App {
  text-align: center;
  min-height: 100vh;
}

#content {display: flex;}


#header input {
  /* padding: 1px; */
  font-size: 1.5rem;
  text-align: center;
  border: none;
  margin: 0.5rem 0 0.5rem 0;
}

#contact-info input { font-size: 1rem }

.section {
  background-color: rgb(162, 212, 166);
  display: flex;
  margin: 1rem 0 1rem 0;
}

.section h2 { color: rgb(65, 94, 67) }

.section .entries { flex-grow: 3 }


.section .skills {
  display: grid;
  grid-template: auto / 1fr 1fr;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li p { margin: 0 }


.entries .item {
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}

form {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: fit-content;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

form input, 
form textarea {
  margin: 0.5rem 0 0.5rem 0;
}


#template-container {
  background-color: rgb(39, 39, 39);
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 50%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-height: 100vh;
}

#template-container button {
  font-size: 1rem;
  margin: 0.5rem;
  align-self: center;
  width: 50%;
}

#template iframe {
  min-width: 100%;
  min-height: 95vh;
  border: 1px solid;
}